
docs
exe
dbg/*

*.flatpak-builder
*.gradle
*.cxx
*.vagrant
*.git
*.orig
build-*
*.dbg

android/config.sh
android/build
android/*/build
android/gamecake/src/main/res/*
android/res/*
android/gamecake/src/main/AndroidManifest.xml
android/gamecake/src/main/java/com/wetgenes/gamecake/*
android/gamecake/build.gradle

exe_gamecake/preloadlibs.c
exe_gamecake/cache.c
*/log.txt
build/*.nix
lib_luajit/*/native/*

lua_bullet/bullet3

#postgres junk that we do not need...
lib_pq/src/test/*
lib_pq/src/bin/*
lib_pq/src/backend/*
lib_pq/doc/*
lib_pq/contrib/*
lib_pq/config/*

lib_pepperjs/pepper.js/*/*/emscripten/*

nginx/proxy_temp/*
nginx/logs/*
nginx/static/*.zip

vbox_arm/*.img
vbox_arm/*.zip
vbox_arm/kernel-qemu
vbox_*/*.log

build/premake-*
build/SDL2-*
build/LuaJIT-*
build/luajit

build/emsdk

sdks/nacl-sdk

test/dat/grd/*.out.*

test/swankyquant/go


parts/
prime/
snap/.snapcraft/
stage/

docs
node_modules

rocks/src.zip
rocks/*.src.rock


