
docs
exe
dbg/*

*.flatpak-builder
*.gradle
*.cxx
*.vagrant
*.git
*.orig
build-*
*.dbg

html/*.zip

android/config.sh
android/build
android/*/build
android/gamecake/src/main/res/*
android/res/*
android/gamecake/src/main/AndroidManifest.xml
android/gamecake/src/main/java/com/wetgenes/gamecake/*
android/gamecake/build.gradle

libs/exe_gamecake/preloadlibs.c
libs/exe_gamecake/cache.c
*/log.txt
build/*.nix
libs/lib_luajit/*/native/*

libs/lua_bullet/bullet3

#postgres junk that we do not need...
libs/lib_pq/src/test/*
libs/lib_pq/src/bin/*
libs/lib_pq/src/backend/*
libs/lib_pq/doc/*
libs/lib_pq/contrib/*
libs/lib_pq/config/*

libs/lib_pepperjs/pepper.js/*/*/emscripten/*

nginx/proxy_temp/*
nginx/logs/*
nginx/static/*.zip

boxs/vbox_osx/test
boxs/vbox_*/roms
boxs/vbox_*/qemu-imgs
boxs/vbox_*/*.log

build/premake-*
build/SDL2-*
build/LuaJIT-*
build/luajit

build/emsdk

sdks/nacl-sdk

test/dat/grd/*.out.*

test/swankyquant/go


parts/
prime/
snap/.snapcraft/
stage/

/docs
node_modules

rocks/src.zip
rocks/*.src.rock


