<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.wetgenes.cloids"
      android:versionCode="12946"
      android:versionName="12.946"
>
    <!-- This is the platform API where NativeActivity was introduced. -->
    <uses-sdk android:minSdkVersion="9" />

    <!-- Tell the system that you need ES 2.0.
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
-->
    
        <!-- This .apk has no Java code itself, so set hasCode to false. 
actually do not as this breaks random shit...
-->

    <application android:label="cloids" android:icon="@drawable/icon"
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
    >



        <!-- Our activity is the built-in NativeActivity framework class.
             This will take care of integrating with our NDK code. -->
        <activity android:name="android.app.NativeActivity"
                android:label="cloids"
                android:configChanges="orientation|keyboardHidden">
            <!-- Tell NativeActivity the name of our .so -->
            <meta-data android:name="android.app.lib_name"
                    android:value="lua" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest> 
