<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.wetgenes"
      android:versionCode="12150"
      android:versionName="12.150">
    <application android:label="bulb" android:icon="@drawable/icon">
        <activity android:name="bulb"
                  android:label="bulb">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
<uses-sdk android:minSdkVersion="7" />
</manifest> 
