<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.wetgenes.bulb"
      android:versionCode="13675"
      android:versionName="13.675"
>
    <!-- 9 is the platform API where NativeActivity was introduced.
    If I bump the target to a higher number 14 then something goes wrong with screen rotation (GLES context?)
    kinda worried that fixing that may then break it on older androids so sticking to 9 until
    there is a real reason to bump -->
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="9" />

    <!-- Tell the system that you need ES 2.0. -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

<uses-feature android:name="android.hardware.touchscreen" android:required="false" />

<supports-screens
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"
                  android:anyDensity="true" />


    

    <application android:label="Dr. Bulbaceous : Puzzle Solver" android:icon="@drawable/icon"
		android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
    >


        <!-- Our activity is the built-in NativeActivity framework class.
             This will take care of integrating with our NDK code. -->
        <activity android:name="com.wetgenes.FeralActivity"
                android:label="Dr. Bulbaceous : Puzzle Solver"
                android:configChanges="orientation|keyboardHidden"
		android:screenOrientation="unspecified"
	>
            <!-- Tell NativeActivity the name of our .so -->
            <meta-data android:name="android.app.lib_name"
                    android:value="lua" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest> 
