1 VERSIONINFO
 FILEVERSION 2,3,5,0
 PRODUCTVERSION 2,3,5,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "www.freetype.org\0"
            VALUE "CompanyName", "The FreeType Project\0"
            VALUE "FileDescription", "FreeType - software font engine\0"
            VALUE "FileVersion", "2.3.5\0"
            VALUE "LegalCopyright", "Copyright © 1996-2007 David Turner, Robert Wilhelm, and Werner Lemberg.\0"
            VALUE "OriginalFilename", "freetype6.dll\0"
            VALUE "ProductName", "FreeType for Windows\0"
            VALUE "ProductVersion", "2.3.5\0"
            VALUE "PrivateBuild", "Build by Tecgraf/PUC-Rio for CD\0"
        END
    END
END
